
@import "../lib/lesshat/build/lesshat.less";
@import "../lib/bootstrap/less/variables.less";


@colors: "default", "primary", "success", "info", "warning", "danger", "inverse";

@color-default:         #f0f1f4;
@color-primary:         darken(#428bca, 6.5%);
@color-success:         #5cb85c;
@color-info:            #5bc0de;
@color-warning:         #f0ad4e;
@color-danger:          #d9534f;
@color-inverse:         #d9534f;
@color-transparent:     transparent;


@sidebar-width: 240px;





@font-family-sans-serif:		"Open Sans", sans-serif;
@font-size-base:				12px;


@navbar-height: 40px;



@thumbnail-padding:           6px;
@thumbnail-bg:                #f6f6f6;

