@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);



@import "../variables.less";
@import "module/theme.less";

.page-heading {
	margin: -20px 0;
	background-color: #f00;
	clear: both;
}

